In [1]:
import pandas as pd
df = pd.read_csv('AccidentesAviones.csv')
df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

# Limpieza de datos

In [2]:
# Cambiar el nombre de unamed y convertir todas las columnas a minÃºsculas
df = df.rename(columns={'Unnamed: 0':'indice', 'flight_no':'n. vuelo','Ruta':'localizacion','route':'ruta','ac_type':'tipo avion', 'registration':'registro avion', 'all_aboard':'total abordo','crew_aboard':'tripulacion abordo', 'passenger_fatalities':'pasajeros fallecidos','crew_fatalities':'tripulacion fallecida','ground':'fallecidos en tierra','summary':'resumen'})
df = df.rename(columns=lambda x: x.lower())
df = df.rename(columns=lambda x: x.capitalize())

df.tail()

,Indice,Fecha,Hora declarada,Localizacion,Operador,N. vuelo,Ruta,Tipo avion,Registro avion,Cn_ln,Total abordo,Pasajeros a bordo,Tripulacion abordo,Cantidad de fallecidos,Pasajeros fallecidos,Tripulacion fallecida,Fallecidos en tierra,Resumen
5003,5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3Â Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [3]:
# Rellenar los valores '?' con '00:00'
df['Hora declarada'] = df['Hora declarada'].replace('?', '0000')
df.head()

,Indice,Fecha,Hora declarada,Localizacion,Operador,N. vuelo,Ruta,Tipo avion,Registro avion,Cn_ln,Total abordo,Pasajeros a bordo,Tripulacion abordo,Cantidad de fallecidos,Pasajeros fallecidos,Tripulacion fallecida,Fallecidos en tierra,Resumen
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",0000,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",0000,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [4]:
df['Hora declarada'] = df['Hora declarada'].str.replace('[^\d]', '', regex=True)
df['Hora declarada'] = df['Hora declarada'].astype(str).str.zfill(4).str[:2] + ':' + df['Hora declarada'].astype(str).str.zfill(4).str[2:]

df.head()

,Indice,Fecha,Hora declarada,Localizacion,Operador,N. vuelo,Ruta,Tipo avion,Registro avion,Cn_ln,Total abordo,Pasajeros a bordo,Tripulacion abordo,Cantidad de fallecidos,Pasajeros fallecidos,Tripulacion fallecida,Fallecidos en tierra,Resumen
0,0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",00:00,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",00:00,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [5]:
#Cambio de '?'por no_informa
df = df.replace('?', 'no_informa')
df_incognita = (df == '?').sum()
print(df_incognita)

Indice                    0
Fecha                     0
Hora declarada            0
Localizacion              0
Operador                  0
N. vuelo                  0
Ruta                      0
Tipo avion                0
Registro avion            0
Cn_ln                     0
Total abordo              0
Pasajeros a bordo         0
Tripulacion abordo        0
Cantidad de fallecidos    0
Pasajeros fallecidos      0
Tripulacion fallecida     0
Fallecidos en tierra      0
Resumen                   0
dtype: int64

In [6]:
# Formatear la fecha en el formato deseado
df['Fecha'] = pd.to_datetime(df['Fecha'])

df['Fecha'] = df['Fecha'].dt.strftime('%d-%m-%Y')

df.head()

,Indice,Fecha,Hora declarada,Localizacion,Operador,N. vuelo,Ruta,Tipo avion,Registro avion,Cn_ln,Total abordo,Pasajeros a bordo,Tripulacion abordo,Cantidad de fallecidos,Pasajeros fallecidos,Tripulacion fallecida,Fallecidos en tierra,Resumen
0,0,17-09-1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,no_informa,Demonstration,Wright Flyer III,no_informa,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,07-09-1909,00:00,"Juvisy-sur-Orge, France",no_informa,no_informa,Air show,Wright Byplane,SC1,no_informa,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,12-07-1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,no_informa,Test flight,Dirigible,no_informa,no_informa,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,06-08-1913,00:00,"Victoria, British Columbia, Canada",Private,no_informa,no_informa,Curtiss seaplane,no_informa,no_informa,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,09-09-1913,18:30,Over the North Sea,Military - German Navy,no_informa,no_informa,Zeppelin L-1 (airship),no_informa,no_informa,20,no_informa,no_informa,14,no_informa,no_informa,0,The airship flew into a thunderstorm and encou...

In [7]:
# Convertirmos las columnas deseadas a numerica
numerica = ['Total abordo', 'Pasajeros a bordo', 'Tripulacion abordo', 'Cantidad de fallecidos',
                      'Pasajeros fallecidos', 'Tripulacion fallecida', 'Fallecidos en tierra']

df[numerica] = df[numerica].apply(pd.to_numeric, errors='coerce')

df.dtypes

Indice                      int64
Fecha                      object
Hora declarada             object
Localizacion               object
Operador                   object
N. vuelo                   object
Ruta                       object
Tipo avion                 object
Registro avion             object
Cn_ln                      object
Total abordo              float64
Pasajeros a bordo         float64
Tripulacion abordo        float64
Cantidad de fallecidos    float64
Pasajeros fallecidos      float64
Tripulacion fallecida     float64
Fallecidos en tierra      float64
Resumen                    object
dtype: object

In [8]:
#Ahora los valores 'no_informa' deben ser detectados como nulos en las columnas de formato float
print(df.isnull().sum())

Indice                      0
Fecha                       0
Hora declarada              0
Localizacion                0
Operador                    0
N. vuelo                    0
Ruta                        0
Tipo avion                  0
Registro avion              0
Cn_ln                       0
Total abordo               17
Pasajeros a bordo         221
Tripulacion abordo        219
Cantidad de fallecidos      8
Pasajeros fallecidos      235
Tripulacion fallecida     235
Fallecidos en tierra       44
Resumen                     0
dtype: int64

In [9]:
#Eliminamos los valores 
df = df.dropna()

In [10]:
df.to_csv('datos-henry.csv', sep=';', index=False)

# 2-CSV

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908_20190820105639.csv')

In [ ]:
df = df.rename(columns={'Date':'fecha', 'Time': 'hora declarada','Location':'localizacion', 'Operator':'operador',
                         'Flight #':'n. vuelo','Route':'ruta','AC Type':'tipo avion', 'Registration':'registro avion', 
                         'Aboard':'total abordo','Aboard Passangers':'pasajeros a bordo',
                         'Aboard Crew':'tripulacion abordo', 'Fatalities Passangers':'pasajeros fallecidos',
                         'Fatalities Crew':'tripulacion fallecida','Fatalities':'cantidad de fallecidos','Ground':'fallecidos en tierra','Summary':'resumen'})
df = df.rename(columns=lambda x: x.lower())
df = df.rename(columns=lambda x: x.capitalize())

# Reemplazar los valores con formatos diferentes a 'HH:MM'
df['Hora declarada'] = df['Hora declarada'].str.replace(r'[^0-9:]', '', regex=True)
# Cambiar los valores vacios o nulos con '00:00'
df['Hora declarada'] = df['Hora declarada'].fillna('00:00')

# Valores vacios o nulos a 'no_informa'
df = df.fillna('no_informa')

# Convertir la columna de fecha a un objeto de fecha
df['Fecha'] = pd.to_datetime(df['Fecha'])

# Formatear la fecha en el formato deseado
df['Fecha'] = df['Fecha'].dt.strftime('%d-%m-%Y')
df['Fecha'] = pd.to_datetime(df['Fecha'])
df.head()

In [14]:
# Convertirmos las columnas deseadas a numerica
numerica = ['Total abordo', 'Pasajeros a bordo', 'Tripulacion abordo', 'Cantidad de fallecidos',
                      'Pasajeros fallecidos', 'Tripulacion fallecida', 'Fallecidos en tierra']

df[numerica] = df[numerica].apply(pd.to_numeric, errors='coerce')

df.dtypes

Fecha                     datetime64[ns]
Hora declarada                    object
Localizacion                      object
Operador                          object
N. vuelo                          object
Ruta                              object
Tipo avion                        object
Registro avion                    object
Cn/ln                             object
Total abordo                     float64
Pasajeros a bordo                float64
Tripulacion abordo               float64
Cantidad de fallecidos           float64
Pasajeros fallecidos             float64
Tripulacion fallecida            float64
Fallecidos en tierra             float64
Resumen                           object
dtype: object

In [15]:
df.to_csv('datos_adicionales.csv', sep=';', index=False)

# 3-CSV

In [9]:
import pandas as pd

In [ ]:
df =pd.read_csv('AviationData.csv', encoding='latin1')
df.head()

In [17]:
columnas_eliminar = ['Event.Id', 'Accident.Number','Engine.Type','Broad.phase.of.flight', 'Publication.Date','Location', 'Latitude', 'Longitude', 'Airport.Code', 'Registration.Number', 'Make', 'Model', 'Amateur.Built', 'FAR.Description', 'Schedule', 'Purpose.of.flight']
df = df.drop(columnas_eliminar, axis=1)

df = df.rename(columns={'Investigation.Type':'InvestigaciÃ³n', 'Event.Date':'Fecha','Country': 'PaÃ­s', 'Airport.Name':'Aeropuerto'
                        , 'Injury.Severity':'Gravedad de la lesiÃ³n','Aircraft.damage':'DaÃ±o en la aeronave', 'Aircraft.Category':'CategorÃ­a de aeronave',
                        'Number.of.Engines':'NÃºmero de motores','Air.carrier': 'CompaÃ±Ã­a aÃ©rea', 'Total.Fatal.Injuries': 'Total heridos mortales'
                        ,'Total.Serious.Injuries':'Total de heridos graves','Total.Minor.Injuries' :'Total de heridos leves','Total.Uninjured': 'Total de no heridos'
                        , 'Weather.Condition': 'CondiciÃ³n meteorolÃ³gica', 'Report.Status' : 'Reporte'})
df = df.rename(columns=lambda x: x.lower())
df = df.rename(columns=lambda x: x.capitalize())
df = df.dropna()

In [18]:
df.to_csv('datos_complementarios_finales',sep=';', index=False)